//refer__cont
.refer__cont {
    background-color: var(--black);
    min-height: 100vh;
    height: 50000px; /* 임시 */
}
.refer__inner {
    h2 {
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
.refer__list {
    border-top: 2px solid var(--light_bg);
    border-bottom: 1px solid var(--light_bg);
    a {
        display: block;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--light_bg);
        padding: 1.3rem 0;
        transition: all 0.3s;
        font-family: var(--subKor_font);
        &:hover {
            background: var(--light_bg);
            color: var(--black);
        }
        span {
            display: inline-block;
        }
        span:nth-child(1) {
            width: 6%;
            text-align: center;
        }
        span:nth-child(2) {
            width: 20%;
        }
        span:nth-child(3) {
            width: 64%;
        }
        span:nth-child(4) {
            width: 10%;
            text-align: center;
        }
    }
}

.refer__table {
    padding-top: 300px;
    color: var(--white);
    font-family: var(--subKor_font);

    h3 {
        color: var(--white);
        font-size: 3rem;
    }
    p {
        background-color: var(--light_bd);
        color: var(--black);
        padding: 1.3em;
    }
    .table {
        color: var(--white);
        font-family: var(--subKor_font);
        border: 1px solid var(--light_bg);
        margin-top: 0.5em;
        th,td {
            font-weight: normal;
            padding: 1em;
            border-bottom: 1px solid var(--light_bg);
            border-left: 1px solid var(--light_bg);
        }
    }
    .definition,
    .accessibility,
    .reference {
        .title {
            margin-top: 100px;
            font-size: 1.4rem;
            background:var(--white);
            color: var(--black);
            display: inline-block;
            margin-bottom: 10px;
            padding: 0 2px;
        }
        ul {
            list-style:disc;
            margin-left: 12px;
            li {
                margin-bottom: 3px;
            }
        }
    }
}

// 라이트 버전
.light.refer__cont {
    background-color: var(--light_bg);
    .refer__inner {
        h2 {
            color: var(--black);
        }
        .refer__list {
            border-color: var(--light_bd);
            a {
                color: var(--black);
                border-color: var(--light_bd);
                &:hover {
                    background: var(--dark_bg);
                    color: var(--white);
                }
            }
        }
        .refer__table {
            color: var(--black);
            font-family: var(--subKor_font);
            h3 {
                color: var(--black);
            }
            p {
                background-color: var(--dark_bd);
                color: var(--white);
            }
            .table {
                color: var(--black);
                font-family: var(--subKor_font);
                border: 1px solid var(--dark_bg);
                th,td {
                    border-bottom: 1px solid var(--dark_bg);
                    border-left: 1px solid var(--dark_bg);
                }
            }
            .definition,
            .accessibility,
            .reference {
                .title {
                    background:var(--black);
                    color: var(--white);
                }
            }
        }
    }
}

// 애니메이션
.refer__inner {
    opacity: 0;
}