// script__cont
.script__cont {
    min-height: 100vh;
}
.script__inner {
    color: var(--white);
    .script:nth-child(1) {
        .num {
            margin: 2rem 0;
            span {
                border: 1px solid var(--white);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 50px;
                font-family: var(--subKor_font);
                cursor: pointer;
                margin-right: 0.5rem;
            }
            span.active {
                border-style: dashed;
            }
        }
        .desc {
            h2 {
                font-family: var(--kor_font);
                font-size: 1.6rem;
                margin-bottom: 0.4rem;
                font-weight: 600;
            }
            .dddddd {
                display: flex;
                justify-content: space-between;
                div {
                    flex: 0 0 49%;
                    font-family: var(--kor_font);
                }
            }

        }
    }
}


// 라이트 버전
.light.script__cont {
    background-color: var(--light_bg);
    .script__inner {
        color: var(--black);
        .script {
            .num {
                span {
                    border-color: var(--black);
                }
            }
        }
    }
}